<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScanlanPlanning.Properties.Settings.DawnConnectionString"
            connectionString="Data Source=SCSII06;Initial Catalog=Dawn;Persist Security Info=True;User ID=dawn_test;Password=&quot;c&amp;GBYucV7SRQJ8Y_xTgNX_S$=3c?6n95&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>